:root {
	--color-primary:      #60C060;
	--color-primary-tint: #75C875;
	--color-primary-mono: #32A732;

	--color-analog-left:  #60C090; /* Split Right of Complementary */
	--color-analog-right: #90C060; /* Split Left of Complementary */

	--color-split-right: #9060C0; /* Analog Left of Complementary */
	--color-split-left:  #C06090; /* Analog Right of Complementary */

	--color-triadic-left:  #C06060;
	--color-triadic-right: #6060C0;

	--color-complementary-triadic-left:  #60C0C0;
	--color-complementary-triadic-right: #C0C060;

	--color-complementary:      #C060C0;
	--color-complementary-tint: #C875C8;
	--color-complementary-mono: #A732A7;


	--transition-ease:  all 0.5s ease;
	--transition-cubic: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



html > body {
	/* font-family: Avenir, Helvetica, Arial, sans-serif; */
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 0;
	text-align: center;
	color: var(--color-dark);
	background-color: var(--color-light);
}



::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--color-lighter-gray);
}

::-webkit-scrollbar-thumb {
	background: var(--color-darker-gray);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-light);
}



html > body a {
	text-decoration: none;
	color: var(--color-primary);
	transition: var(--transition-cubic);
}

html > body a:hover {
	color: var(--color-primary-light);
}



.hidden {
	display: none !important;
}

html > body .btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: var(--color-light);
	transition: var(--transition-cubic);
}

html > body .btn-primary:hover {
	background-color: var(--color-primary-light);
	border-color: var(--color-primary-light);
}