:root {
	--color-white: #FFFFFF;
	--color-light: #FBF6F6;
	--color-lighter-gray: #CAC7C7;
	--color-light-gray:   #A9A7A7;
	--color-gray:         #808080;
	--color-dark-gray:    #686666;
	--color-darker-gray:  #484545;
	--color-dark:  #191414;
	--color-black: #000000;

	--color-primary-light: #B0E0B0; /* Mix with --color-white */
	--color-primary-dark:  #306030; /* Mix with --color-black */
}